
  .body{ 
    background: url('../public/86.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    /* margin: 0;
    padding: 0; */
    text-align: center;
    z-index: 2;
}
.neon {
    position: absolute;
    top:2%;
    left: 40%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0 20px;
    font-size: 4em;
    color: #fff;
    text-shadow: 0 0 20px #ff005b;

}

.neon::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    z-index: -1;
    color: #ff0056;
    filter: blur(15px);
}


.neon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #fe3a80;
    z-index: -2;
    opacity: 0.5;
    filter: blur(40px);
}

/* body::before{content: ""; background:url("../public/85.jpg");background-size: cover;
            position: absolute; top:-1000px; 
            right:-1000px; left: -1000px; bottom: -1000px;
            background-color: rgba(0,0,0,0.50);} */

.para{
    font-family: sans-serif;
    font-size: 10x;
    text-align: center;
    color: white;
    margin:10px;
    /* position: relative;
    top:60%; */
}

.head{
    display:flex;
    text-align: center;
    
    justify-content: center;
    margin: 150px 100px 0px 150px;
   

}
.section{
    display: inline-block;
    height: 350px;
    align-items: center;
    justify-content: space-evenly;
    max-width: 90%;
   
}
.sec{
    display: inline-block;
    height:160px;
    align-items: center;
    justify-content: space-evenly;
    max-width: 90%;
   
}
.head3 {
    color: rgb(202, 221, 33);
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    bottom: 2%;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 2px solid rgb(36, 0, 0);
    border-radius: 20px;
    position: relative;
   
    

}