.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.blogItem{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}