.choclate {
    color: rgb(23, 242, 250);
    font-weight: bold;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .para {
    color: white;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  .icecream {
    color: rgb(10, 6, 240);
    font-weight: bold;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .body{background:url('../public/88.jpg') no-repeat center center fixed; 
    background-size:cover ;
    width:fit-content;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

/* body::before{content: ""; background:url("a/88,jpg");background-size: cover;
    position: absolute; top:-1000px; 
    right:-1000px; left: -1000px; bottom: -600px;
    background-color: rgba(0,0,0,0.20);} */

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
}
.P{color:rgb(99, 170, 36); font-family: 'Courier New', Courier, monospace; font-size:25px; font-weight: bold; padding:0px 15px -10px 15px; margin:25px;}

.footer{color:white;}

.hero{width:95%;
    margin: auto;
    position: sticky;
    top: 2px;
}
.navbar{margin:10px auto;
        display: flex;
        align-items:center;
       
}
.search{
    float: right;
    color: crimson;
    padding: 12px 7px;
   
}
.search input {border: 2px solid rgb(184, 11, 11);
                border-radius: 14px;
                padding: 3px 17px;
                width: 129px;}


/* ul{flex: 1;  
    text-align:center;
    
}
ul li{ display: inline-block;
        list-style: none;
        margin: 0 5px;
}

ul li a{text-decoration: none;
    font-size:20px;
    font-weight:bolder;
    color: gold;
    padding: 0 10px;
    position: relative; 
}
ul li a:hover{ color: hotpink;

}
ul li a::after{content: "";
                width:0;
                height: 10px;
                background:#f14a60;
                position: absolute;
                left: 50%;
                transform:translateX(-50%);
                top:-55px;
                transition: 0.5s;
}
ul li a:hover::after{width:100%;}

.navbar-icon img{height:80px;
                margin-left: 40px;
                cursor: pointer;
                border-radius:25%;

} */



/* .tip h1{text-align: center; padding: 0 0 0 0; height:50px;margin-top:10px;font-family:cursive;} */



 .h1{position:relative; font: size 14vw;
     color:white; 
     font-family:Georgia, 'Times New Roman', Times, serif; 
     font-size :50px;
     -webkit-text-stroke:0.3vm gold;
     text-transform: uppercase;
     left: 5%;
     
 }
   .h1::before{content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0.1%;
            width: 0;
            height:100% ;
            color: gold;
            -webkit-text-stroke: 0.1vw indigo;
            border-right: 0px solid gold;
            overflow: hidden;
            animation: animate 4s linear infinite;
            animation-timing-function: ease-in;
            animation-direction: alternate-reverse;

    }
    @keyframes animate{
        70% ,100%
        {
            width: 10%;
        }
        70% ,90%
        {
            width:100%;
        }
    }

